*.exe
*.dll
*.lps
*.ppu
*.bak
*.o
*.ini
*.db
*.rar
*.tga
*.bat
*.prx
*.srx
*.sprx
*.sdll
*.bin
*.elf
*.oelf
*.self
*.dump
*.h
*.sfo
*.ttf
*.otf
*.rco
*.bsf
*.aac
*.nv12
link.res
log.txt
lib/
backup/
shader_dump/*
avplayer_dump/*
savedata/*
tools/vop_generator/vnode_if.*
tools/syscalls_gen/init_sysent.pas
tools/syscalls_gen/syscalls.pas
